@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: white;
    font-family: "Noto Sans",sans-serif;
    box-sizing: border-box;
    font-size: 0.8rem;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #141414;
}

.cabecalho{
    display: flex;
    position: fixed;
    padding: 20px 40px;
    width: 100vw;
    align-items: center;
}

.cabecalho__logo-netflix{
    width: 92px;
    object-fit: cover;
    margin-right: 20px;
}

.cabecalho__menu{
    display: flex;
    gap: 20px;
}